<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<%= turbo_frame_tag("users") do %>
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
<% end %>

<%= turbo_frame_tag("new_user", src: new_user_path, target: "users") %>