<p style="color: green"><%= notice %></p>

<%= turbo_frame_tag("user") do %>
  <%= render @user %>

  <div>
    <%= link_to "Edit this user", edit_user_path(@user) %> |
    <%= link_to "Back to users", users_path, "data-turbo-frame": "_top" %>

    <%= button_to "Destroy this user", @user, method: :delete %>
  </div>
<% end %>